{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifts</title>
    <link rel="stylesheet" href="{% static 'gifts/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'gifts/styles/giftsbase.css' %}">
</head>
<body>
 <header>
<nav><a href="/gifts" id="main-logo">Подарочная</a></nav>
<h1>Здесь ты можешь выбрать подарок для меня на предстоящие праздники.</h1>
<p id='desc'>Как это работает: ты решаешь, какой подарок тебе нравится больше из списка ниже. Он должен быть выделен зеленым цветом: красные уже заняты. На странице каждого подарка будет ссылка на него и как его подарить. Нажимая кнопку забронировать, ты выбираешь подарок и больше никто не сможет его купить. </p>
<hr>
</header>
 <main>
<section>
<h2>Список подарков</h2>
<ol>
{% for gift in gifts %}
    {% if gift.taken %}
        <li class='gift2'>
            <article>
            <div class='gift-summary'>
                <div class='gift-image'>
                    <img height="300" src="{{ gift.image.url }}" alt="">
                </div>
                <div clss='gift-details'> 
                    <h3>{{ gift.title }}</h3>
                    <address>{{ gift.description }}</address>
                </div>
            </div>
            <div class="gifts-actions">
                <a href="{% url  'gift_detail' gift.id %}" class="btn2">Подробнее</a>
            </div>
            </article>
         </li>
    {% else %}
    <li class='gift'>
        <article>
        <div class='gift-summary'>
            <div class='gift-image'>
                <img height="300" src="{{ gift.image.url }}" alt="">
            </div>
            <div clss='gift-details'> 
                <h3>{{ gift.title }}</h3>
                <address>{{ gift.description }}</address>
            </div>
        </div>
        <div class="gifts-actions">
            <a href="{% url  'gift_detail' gift.id %}" class="btn">Подробнее</a>
        </div>
        </article>
    </li>  
    {% endif %}
{% endfor %}
</ol>
</section>
 </main>
</body>
</html>