
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #000000;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #057e33;
  border: 1px solid #025502;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}


.btn2 {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #991e28;
  border: 1px solid #970606;
  color: white;
  border-radius: 4px;
  text-decoration: none;}




#main-header {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}


#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {

    font-size: 1.5rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #025502;
    background-color: #057e33;
    padding: 0.5rem 1.5rem;
}

#main-logo:hover {
  color: #444444;
}

header {
  text-align: center;
  margin: 40px;
}

#desc {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  padding: 0.5rem 1.5rem;
}